@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito+Sans:opsz,wght@6..12,200&family=Poppins:wght@200;300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
}

li {
    list-style: none;
    border: 1px solid black;
    cursor: pointer;
    padding: 20px;
    width: 170px;
    box-sizing: border-box;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 600;

}

header {
    display: flex;
    margin-top: 20px;


}

nav {
    flex-grow: 0.9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}