@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito+Sans:opsz,wght@6..12,200&family=Poppins:wght@200;300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
}

/* Header and navbar */

header {
    display: flex;
}

nav {
    flex-grow: 0.9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

li {
    list-style: none;
    border: 1px solid black;
    cursor: pointer;
    padding: 20px;
    width: 170px;
    box-sizing: border-box;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 600;

}

/* Header and navbar */

/* Hero section */

main {
    background-color: gray;
    height: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero-section {
    align-self: center;
    margin-top: 100px;
    
}

/* Hero section */

/* Duck section */

.duck-section {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-height: 70vh;
}

.duck-button {
    border: 1px solid black;
    padding: 20px;
    margin-top: 15px;
    cursor: pointer;
}

